form {
  margin: 100px auto;
  width: 300px;
  background-color: rgb(35, 70, 70);
  padding: 50px;
  border-radius: 20px;
}
select {
  /* height: 130px; */
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
label {
    color: aliceblue;
}

.quantity {
  padding: 5px 10px;
  margin-bottom: 20px;
}

.button-submit {
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 20px;
  background-color: rgb(187, 235, 235);
  border-radius: 5px;
}

.button-submit:hover {
  background-color: rgb(36, 131, 131);
  color: aliceblue;
  font-size: 20px;
}
